/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilos del menú de navegación */
nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilos de las secciones */
section {
    padding: 20px;
}

/* Estilos del pie de página */
footer {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: center;
}

