body {
    background-color: #090cf3;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#win_error {
    text-align: center;
}

#win_error img {
    height: 300px;
    width: 500px;
    border-radius: 100px;
}

#bienvenida{
text-align:center;
}

.text_centrado {
text-align: center;
}    

#amarillo{
    background-color:#f8e004f6;
    padding:100px;
}

